@media screen and (max-width:1280px) {
    .lema {
        margin-left: 20rem;
    }
}

@media screen and (max-width:769px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section video {
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
    }

    .article {
        margin-top: -2rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lema {
        margin-top: 1rem;
        margin-left: 10rem;
        font-size: 3rem;
    }

    .footerTitulo {
        padding-bottom: 2rem;
        text-align: center;
    }

    .footerContact {
        text-align: center;
    }

    .h52 {
        text-align: center;
        padding-right: 2rem;
    }
}

@media screen and (max-width:576px) {
    .titulo {
        margin: auto;
    }

    .header {

        align-items: center;
        margin: auto;
        padding-left: 2.5rem;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lema {
        margin-top: 1rem;
        margin-left: 3.5rem;
        font-size: 2rem;
    }

    .section video {
        width: 8rem;
        height: 8rem;
    }

    .footerLinks {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footerContact {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footerMP {
        text-align: center;
        margin-bottom: 1rem;
    }

    .carD {
        width: 75%;
        margin-left: 2rem;
    }
}

@media screen and (max-width:426px) {
    .article {
        margin-top: -5rem;
    }
}

@media screen and (max-width:320px) {
    .section video {
        width: 6rem;
        height: 6rem;

    }

    .lema {
        margin-left: 2.5rem;
        font-size: 1.5rem;
    }

    .article {
        margin-top: -5rem;
    }
}