$colorPrincipal:#272727;
$colorSecundario:#b60247;
$colorTitulo: #cad2c5;
$tipografiaS: Arial, Helvetica, sans-serif;
$tipografiaP: 'prata', serif;

/* maps */
$estilos:(
    color: #272727,
    fuente: "wire one",
    tamaño: 6rem,
    negrita: bold,
    margenIzq: 2rem,
    margenArr: 1rem
);


/* extend */

.lemaChico{
    @extend .lema;
    font-size: 3rem;
}

.lemaGrande{
    @extend .lema;
    font-size: 5rem;
}

/* mixins */
@mixin mix ($ancho, $alto){
    width: $ancho;
    height: $alto;

}
    



